{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
     
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/Favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/Favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/Favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/Favicon/site.webmanifest' %}">

    <!-- Bootstrap CSS --> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
 
  <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <!-- {% include "messages.html" %} -->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">P.M.S</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'all_products' %}"
                >Products</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'orders' %}"
                >Order</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/carts/cart/"
                >Cart</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{% url 'about' %}">About</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Welcome {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                New User?
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <!-- <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li> -->
                <li><a class="dropdown-item" href="{% url 'register' %}">Sign Up</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              </ul>
            </li>
            {% endif %}

          </ul>
          <form action="{% url 'search_product' %}" method="get" class="d-flex">
            <!-- <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="getdata"
              required
            /> -->
            <input type="text" name="q" class="form-control border-0" placeholder="Search" value="{{ query|default:'' }}">
            <button class="btn btn-outline-success mx-2" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    
    <!-- <div class="d-flex justify-content-center">
      <div class="w-25 p-3">
        {% include "messages.html" %}
      </div>
    </div> -->

    <!-- {% for alert in messages %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{ alert }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor%} -->




    {% block body %} 
    
    
    {% endblock body %}





    <br /><br />

    <div class="container py-5 bg-light p-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a
            class="d-inline-flex align-items-center mb-4 link-dark text-decoration-none"
            href="/"
            aria-label="Bootstrap"
          >
            <span class="fs-5">P.M.S</span>
          </a>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">
              Designed and built with all the love in the world by the
              <a href="/docs/5.0/about/team/">Bootstrap team</a> with the help
              of
              <a href="https://github.com/twbs/bootstrap/graphs/contributors"
                >our contributors</a
              >.
            </li>
            <li class="mb-2">
              Code licensed
              <a
                href="https://github.com/twbs/bootstrap/blob/main/LICENSE"
                target="_blank"
                rel="license noopener"
                >MIT</a
              >, docs
              <a
                href="https://creativecommons.org/licenses/by/3.0/"
                target="_blank"
                rel="license noopener"
                >CC BY 3.0</a
              >.
            </li>
            <li class="mb-2">Currently v5.0.2.</li>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 offset-lg-1 mb-3">
          <h5 class="mb-4">Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="text-decoration-none">Home</a></li>
            <li class="mb-2"><a href="{% url 'all_products' %}" class="text-decoration-none">Our Products</a></li>
            <li class="mb-2"><a href="{% url 'contact' %}" class="text-decoration-none">Contact Us</a></li>
            <li class="mb-2"><a href="{% url 'about' %}" class="text-decoration-none">About US</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5 class="mb-4">Social</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <i class="fa-brands fa-facebook"></i>
              <a href="https://www.facebook.com/" class="text-decoration-none" target="_blank">facebook</a>
            </li>
            <li class="mb-2">
              <i class="fa-brands fa-twitter"></i>
              <a href="https://Twitter.com/" class="text-decoration-none" target="_blank">Twitter</a>
            </li>
            <li class="mb-2">
              <i class="fa-brands fa-instagram"></i>
              <a href="https://Instagram.com/" class="text-decoration-none" target="_blank">Instagram</a>
            </li>
            <li class="mb-2">
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://Linkedin.com/" class="text-decoration-none" target="_blank">Linkedin</a>
            </li>
            <li class="mb-2">
              <i class="fa-brands fa-github"></i>
              <a href="https://github.com/" class="text-decoration-none" target="_blank">Github</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 class="mb-4">Projects</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="https://github.com/twbs/bootstrap" class="text-decoration-none">Bootstrap 5</a>
            </li>
            <li class="mb-2">
              <a href="https://github.com/twbs/bootstrap/tree/v4-dev" class="text-decoration-none">Bootstrap 4</a
              >
            </li>
            <li class="mb-2">
              <a href="https://github.com/twbs/icons" class="text-decoration-none">Icons</a>
            </li>
            <li class="mb-2"><a href="https://github.com/twbs/rfs" class="text-decoration-none">RFS</a></li>
            <li class="mb-2">
              <a href="https://github.com/twbs/bootstrap-npm-starter" class="text-decoration-none">npm starter</a
              >
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center text-muted"><i class="fa-regular fa-copyright"></i> 2025 Pharmacy Management System (P.M.S), Made by <span class="fw-bold fst-italic">Meeran Husain. </span></p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
 

    <!-- Option 2: Separate Popper and Bootstrap JS -->
  
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
   

    <script src="static/js/bootstrap.js"></script>

    
  </body>
</html>
